<div class="app connected">
  <div class="left-side">
    <h1>
      <img src="images/qrcode.svg" />
      Dispositivo Conectado
    </h1>
    <p>
      Seu dispositivo já está conectado ao serviço e você já está apto a receber mensagens do sistema GSafra
    </p>
    <small>
      OBS<sub>1</sub>: caso você queira conectar outro dispositivo remente você pode desconectar o atual
    </small>
    <button class="disconnect-button">
      <img src="images/signout.svg" />
      Desconectar
    </button>
  </div>
</div>
<script src="scripts/connected.js"></script>
